{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<!-- Header_Area -->
  <nav class="navbar navbar-default header_aera affix-top">
     <div class="container m-s">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-md-4 p0">
           <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#min_navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand logo-biss" href="{{ path('<front>') }}">
               <img src="{{ logopath }}" alt="{{ site_name }}" title="{{ 'Home'|t }}">
              </a>
           </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="col-md-8 p0">
           {{ page.primary_menu }}
           <!-- /.navbar-collapse -->
        </div>
     </div>
  </nav>
<!-- Header End -->
<!-- Banner -->
 <div class="service-banner-img  ">
     <div class="ovrllay">
        <!-- #banner start -->
        <section id="banner" class="p0 custom-banner" >
           <div class="container ">
              <div class="row ">
                 <!-- #banner-text start -->            
                 <div id="banner-text" class="col-md-12 text-c  ">
                    <div class="left-borders">
                       <p class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;"> Welcome to the DentalCare
                       </p>
                       <h5 class="wow fadeInUp main-h" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"> Page Not Found </h5>
                    </div>
                 </div>
                 <!-- /#banner-text End -->
              </div>
           </div>
        </section>
     </div>
  </div>
<!-- Banner End -->
{%  set base_url = url('<front>')  %}
<section id="not-found-section" class="text-center">
  <div class="container">               
    <div class="row"> 
      <div class="not-found-body" >
        <div class="not-title" >
          <h1>404</h1>
          <h2>Page Not Found</h2> 
        </div>  
          <h2>Sorry. We can't find a page.</h2>
          <p>The Page you are looking for might have a removed, had its name changed, or its temporarily unavailable.</p>      
          <a href="{{ base_url }}" class="btn btn-custom"> Go Home </a>      
      </div>
    </div>          
  </div>    
</section>
<!--#start Our footer Area -->
<div class="our_footer_area">
   <div class="book_now_aera ">
      <div class="container wow fadeInUp">
         <div class="row book_now">
            <div class="col-md-4">
               <div class="mt-20">
                  <a class=" logo-biss" href="{{ path('<front>') }}">  <img src="{{ logopath }}" alt="{{ site_name }}" title="{{ 'Home'|t }}"></a>
               </div>
               <div class="footer-desc">
                  {% if footer_description %}
                     {% autoescape 'html' %}
                        {{ footer_description|raw }}
                     {% endautoescape %}
                  {% endif %}
               </div>   
            </div>
            <div class="col-md-1 ">
            </div>
            <div class="col-md-3">
               {{ page.footer_menu }}
            </div>
            <div class="col-md-4">
               <ul class="location">
                  <h2 class="footer-top">
                     {% if contact_title|render is not empty %} {{ contact_title }}{% endif %} 
                  </h2>
                  <li class="footer-left-h">
                     {% if address1|render is not empty %} {{ address1 }}{% endif %}
                  </li>
                  <li class="footer-left-h">
                     <a href="#"> 
                     {% if address2|render is not empty %} {{ address2 }}{% endif %}
                      </a>
                  </li>
               </ul>
               <div class="bigpixi-footer-social">
                  {% if facebook_url|render is not empty %}
                    <a href="{{ facebook_url }}" target="_blank" ><i id="social-fb" class="fa fa-facebook fa-2x social"></i></a>
                  {% endif %}
                  {% if twitter_url|render is not empty %}
                    <a href="{{ twitter_url }}" target="_blank"><i id="social-tw" class="fa fa-twitter fa-2x social"></i></a>
                  {% endif %}
                  {% if instagram_url|render is not empty %}
                    <a href="{{ instagram_url }}" target="_blank"><i id="social-em" class="fa fa-instagram fa-2x social"></i></a>
                  {% endif %}  
               </div>
            </div>
              <div class="col-md-12 copyright">
                 {% if copyright %}
                  {{copyright|striptags('<b>,<strong>,<p>,<a>,<pre>')|raw}}
                {% endif %}  
              </div>
         </div>
      </div>
   </div>
</div>

<!--#End Our footer Area -->
