{#
/**
 * @file
 * Theme override to display a pager.
 *
 * Available variables:
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ Previous"
 *     or "Next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @see template_preprocess_pager()
 */
#}
{% if items %}
      {# Print previous item if we are not on the first page. #}
      {% if items.previous %}
         <li><a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev" {{ items.previous.attributes|without('href', 'title', 'rel') }}>
              <i class="fa fa-angle-left"></i>
            </a></li>
      {% endif %}
      {# Now generate the actual pager piece. #}
      {% for key, item in items.pages %}
          {% if current == key %}
            <li class="active">
                <a href="{{ item.href }}">{{- key -}}</a>
            </li>
          {% else %}
              <li><a href="{{ item.href }}">{{- key -}}</a></li>
          {% endif %}
       {% endfor %}
      {# Print next item if we are not on the last page. #}
      {% if items.next %}
      <li>
        <a href="{{ items.next.href }}" title="{{ 'Go to Next page'|t }}"><i class="fa fa-angle-right"></i>&nbsp;&nbsp; </a>
      </li>   
      {% endif %}
     
{% endif %}
