<section class="blog-details-area  wow fadeInUp">
   <div class="container">
      <div class="row">
         <div class="col-md-10 col-xs-12 col-md-offset-1">
            <div class="blog-details-wrap">
               <div class="blog-details-img">
                  <img src="{{ file_url(content.field_image.0['#item'].entity.uri.value) }}" class="img-responsive">
               </div>
               <div class="blog-details-content wow fadeInUp">
                  <h3>{{ label }}</h3>
                  {{ content.body[0] }}
                  <blockquote>
                    {{ content.field_quotes|render|striptags }}
                  </blockquote>
                  <ul>
                     {{ content.field_features }}
                  </ul>
               </div>
               <div class="comment-main wow fadeInUp">
                  <h3 class="blog-title ">Comment</h3>
                    {{ content.comment[0] }}
               </div>

            </div>
         </div>
      </div>
   </div>
</section>