<!-- Innovative Ideas Items-->
{% if content.field_style[0]['#markup'] == 0 %}
<div class="row about_row  px_40">
   <div class="who_we_area title text-left col-md-6 col-sm-6 col-4pad wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
      <h1 class=""> {{ content.field_title.0 }}</h1>
      <p class="about-bottom-button wow fadeInUp mt-50" style="visibility: visible; animation-name: fadeInUp;">{{ content.field_body.0|render|striptags}}  </p>
   </div>
   <div class="who_we_area col-md-6 text-right col-sm-6 col-4pad wow fadeInUp">
      <div class="large-8 columns wow fadeInUp">
         <div class="twentytwenty-container">
            <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" />
         </div>
      </div>
   </div>
</div>
{% else %}
<div class="row mt-20 px_40 ">
   <div class="who_we_area col-md-6  col-sm-6 col-4pad wow fadeInUp">
      <div class="large-8 columns wow fadeInUp">
         <div class="twentytwenty-container">
            <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" />
         </div>
      </div>
   </div>
   <!--#about-text start --> 
   <div class="who_we_area title text-left col-md-6 col-sm-6 col-4pad wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
      <h1 class=""> {{ content.field_title.0 }}</h1>
      <p class="about-bottom-button wow fadeInUp mt-50" style="visibility: visible; animation-name: fadeInUp;">{{ content.field_body.0|render|striptags }}  </p>
   </div>
</div>
{% endif %}
<!-- Innovative Ideas Items End -->
