<!-- Massive Success End-->
<div class="container py-70 massive-success-section">
   <div class="row text-center  ">
      <div class="title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
         {{ content.field_body.0 }}
         <h1>{{ content.field_title.0 }}</h1>
      </div>
   </div>
   <div class="row mt-50">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
         <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12 bhoechie-tab-menu">
            <div class="list-group">
               {{ content.field_massive_success_tags }}
            </div>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 bhoechie-tab py-0 p0">
            {{ content.field_massive_success_items }}
         </div>
      </div>
   </div>
</div>
<!-- End About Us Area -->