<!-- About Us Items -->
<div class=" col-md-4 bg-color">
   <div class="Solid-dental">
      <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="">
      <h1>{{ content.field_title.0 }}  </h1>
      {{ content.field_body.0 }}
      </p>
      {% if content.field_url.0|render is not empty %}
         <a href="{{ content.field_url[0]['#url']|render }}"> {{ content.field_url[0]['#title'] }} </a>
      {% endif %}
   </div>
</div>
<!-- About Us Items End -->
