{% set randomValue = [] %}
{% set alpha = 'abcdefghijklmnopqrstuvwxyz' %}
{% set numbers = '0123456789' %}

{% for i in 1..10 %}
    {% set randomCharacter = random(alpha ~ alpha|upper ~ numbers ~ '-_') %}
    {% set randomValue = randomValue|merge([randomCharacter]) %}
{% endfor %}
{% set randomValue = randomValue|join %}

<!-- FAQ Items-->
<div class="panel panel-default">
   <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ randomValue }}" aria-expanded="false" aria-controls="{{ randomValue }}">
            <p class="left-tabs-text-2"> {{ content.field_title.0 }}  </p>
         </a>
      </h4>
   </div>
   <div id="{{ randomValue }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
         <div class="col-md-12 py-0">
            <p class="video_p"> {{ content.field_body.0|render|striptags }}  </p>
         </div>
      </div>
   </div>
</div>
<!-- FAQ Items End -->
