<!-- Our Partners Items --> 
  <div class="our_partners_area bg-parthners py-70 ">
     <div class="container">
        <div class="row text-center  ">
           <div class="title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
              <h1 class="mb_50">
                {{ content.field_title.0 }}
              </h1>
           </div>
        </div>
        <!--#Our Partners assets/images start -->
        <div class="partners wow fadeInUp">
           {{ content.field_our_partners_items }}
        </div>
        <!--#End Our Partners assets/images -->
     </div>
  </div>   
<!-- Our Partners Items -->
