<!-- Massive Success Tags-->
 <a href="#" class="list-group-item ">
    <p class="left-tabs-text">
      <span class="fitter">
        <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="" class=""></span>
        {{ content.field_facebook.0 }}
    </p>
 </a>
<!-- Massive Success Tags End-->
