<!-- Service -->
      <div  id="about"  class=" py-70 bg_gradient_service">
         <div class="container">
            <div class="row text-center">
               <div class="title wow fadeInUp">
                  {{ content.field_body.0 }}
                  <h1>
                     {{ content.field_title.0 }}
                  </h1>
               </div>
            </div>
            <div class="row about_row mt-0">
               <!--#about-text start --> 
               	{{ content.field_service_items }}
               <!--#End about-text  --> 
               <div class="col-md-12">
               	{% if content.field_url.0|render is not empty %}
                  <div class="top-service wow fadeInRight text-center" style="visibility: visible; animation-name: fadeInRight;">
                     <a href="{{ content.field_url[0]['#url']|render }}" type="submit" id="services"  class="btn btn-default wow fadeInUp  js-scroll-trigger button_about_shadow" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">{{ content.field_url[0]['#title'] }}</a>
                  </div>
                {% endif %}  
               </div>
            </div>
         </div>
      </div>
<!-- Service End-->
