<!-- Gallery -->
{% if content.field_gallery_view.0|render is not empty %} 
            
            {# <h1 class="text-center">
              {{ content.field_sub_text.0 }}
            </h1> #}
  {{ content.field_gallery_view }}
{% endif %}
<!-- Our Dentist -->
{% if content.field_title.0|render is not empty %} 
<section class="our-dentist">
   <div class="container">
      <div class="row text-center  ">
         <div class="title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            {{ content.field_body.0 }}
            <h1>
              {{ content.field_title.0 }}
            </h1>
         </div>
      </div>
      <div class="row about_row ">
          {{ content.field_our_dentist_items }}
      </div>
   </div>
</section>    
{% endif %}  
<!--  Our Dentist-->

<!-- Testimonials -->
{% if content.field_testimonial_view.0|render is not empty %} 
            {# <h1 class="text-center">
              {{ content.field_facebook.0 }}
            </h1> #}
  {{ content.field_testimonial_view }}
{% endif %}

<!-- Blog(home)-->
{% if content.field_blog_view.0|render is not empty %} 
             {# <h1 class="text-center">
              {{ content.field_instagram.0 }}
            </h1> #}
  {{ content.field_blog_view }}
{% endif %}

<!-- Blog(page) -->
{% if content.field_blog_view1.0|render is not empty %} 
           
  {{ content.field_blog_view1 }}
{% endif %}
