<!-- Our History Items-->
<!-- Right side -->
{% if content.field_history_setion_styles[0]['#markup'] == 0 %}
   <li  class="wow fadeInUp">
      <div class="timeline-badge">
         <a><i class="fa fa-circle" id=""></i></a>
      </div>
      <div class="timeline-panel">
         <div class="timeline-footer">
            <h1>
               {{ content.field_title.0 }} 
            </h1>
           {{ content.field_body.0 }}
         </div>
      </div>
   </li>
   <li class="timeline-inverted wow fadeInUp">
      <div class="timeline-badge">
         <a><i class="fa fa-circle invert" id=""></i></a>
      </div>
      <div class="timeline-panel">
         <div class="timeline-body">
            <h1>   </h1>
            <p class="img_left">  {{ content.field_date.0 }}  </p>
         </div>
      </div>
   </li>
{% elseif content.field_history_setion_styles[0]['#markup'] == 1 %}   
<!-- Left side -->
   <li class="wow fadeInUp">
      <div class="timeline-badge">
         <a><i class="fa fa-circle" id=""></i></a>
      </div>
      <div class="timeline-panel">
         <div class="timeline-body">
            <h2>   </h2>
            <p class="img_top">   {{ content.field_date.0 }} </p>
         </div>
      </div>
   </li>
   <li class="timeline-inverted  wow fadeInUp">
      <div class="timeline-badge">
         <a><i class="fa fa-circle invert" id=""></i></a>
      </div>
      <div class="timeline-panel">
         <div class="timeline-footer">
            <h1> {{ content.field_title.0 }}  </h1>
            {{ content.field_body.0 }}
         </div>
      </div>
   </li>
{% elseif content.field_history_setion_styles[0]['#markup'] == 2 %}
   <li  class="wow fadeInUp mt_560">
      <div class="timeline-badge">
         <a><i class="fa fa-circle" id=""></i></a>
      </div>
      <div class="timeline-panel">
         <div class="timeline-footer">
            <h1> {{ content.field_title.0 }}  </h1>
            {{ content.field_body.0 }}
         </div>
      </div>
   </li>
   <li class="timeline-inverted wow fadeInUp">
      <div class="timeline-badge">
         <a><i class="fa fa-circle invert" id=""></i></a>
      </div>
      <div class="timeline-panel">
         <div class="timeline-body">
            <h1>   </h1>
            <p class="img_left"> {{ content.field_date.0 }}  </p>
         </div>
      </div>
   </li>
{% else %}
   <li class="wow fadeInUp">
      <div class="timeline-badge">
         <a><i class="fa fa-circle" id=""></i></a>
      </div>
      <div class="timeline-panel">
         <div class="timeline-body">
            <h3>   </h3>
            <p class="img_top">  {{ content.field_date.0 }} </p>
         </div>
      </div>
   </li>
   <li class="timeline-inverted  wow fadeInUp">
      <div class="timeline-badge">
         <a><i class="fa fa-circle invert" id=""></i></a>
      </div>
      <div class="timeline-panel">
         <div class="timeline-footer">
            <h1>{{ content.field_title.0 }}  </h1>
            {{ content.field_body.0 }}
         </div>
      </div>
   </li>
{% endif %}   
<!-- Our History Items End-->
