<!-- Call Us Items -->
  <div class="container-fluid p0 text-center">
     <div class="">
        <img src="{ file_url(content.field_image['#items'].entity.uri.value) }}">
     </div>
  </div>
<!-- Call Us End-->
