<!-- Our Dentist Items -->
 <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp our-detlist-item">
    <div class="blog box-radius">
       <div class="blog-img">
          <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="">
       </div>
       <div class="team-content">
          <h3>{{ content.field_title.0 }}</h3>
          <p>{{ content.field_sub_text.0 }} </p>
          <div class="team-footer-social">
          {% if content.field_facebook.0|render is not empty %}
             <a href="{{ content.field_facebook.0 }}" target="_blank"><i id="social-fb" class="fa fa-facebook fa-2x social"></i></a>
          {% endif %}   
          {% if content.field_twitter.0|render is not empty %}
             <a href="{{ content.field_twitter.0 }}" target="_blank"><i id="social-tw" class="fa fa-twitter fa-2x social"></i></a>
           {% endif %}     
           {% if content.field_instagram.0|render is not empty %}   
             <a href="{{ content.field_instagram.0 }}" target="_blank"><i id="social-em" class="fa fa-instagram fa-2x social"></i></a>
            {% endif %}    
          </div>
       </div>
    </div>
 </div>
<!-- Our Dentist Items End-->
