<!-- Contact Info-->
<section>
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="contact-info-box padding-30px-left sm-no-padding">
               <div class="row">
                  <div class="col-12">
                     <div class="contact-info-section">
                        <ul class="list-style-1 no-margin-bottom">
                           <li>
                              <i class="fa fa-map-marker text-center"></i>
                              <div class="text-rights">
                              <p> <strong class="d">Address:</strong><br> {{ content.field_body.0 }}</p>
                           </div>
                           </li>
                           <li>
                              <i class="fa fa-envelope text-center"></i>
                               <div class="text-rights">
                               {% if content.field_sub_text.0|render is not empty %} 
                                <p> <strong class="d">E-mail:</strong><br><a href="mailto:{{ content.field_sub_text.0 }}" class="email_color_site">{{ content.field_sub_text.0 }}</a> </p>
                              {% endif %}
                           </div>
                           </li>
                           <li>
                              <i class="fa fa-clock-o text-center"></i>
                               <div class="text-rights">
                              <p> <strong class="d">Office Time:</strong><br> 
                                {{ content.field_office_time.0 }}</p>
                           </div>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-12">
            <!--#Our maps  start -->
            <div id="contatti" class=" maps">
               {{ content.field_map.0 }}
            </div>
            <!--#End maps   -->
         </div>
      </div>
      <div class="col-md-12">
           <div class="section-heading left">
               <h4>{{ content.field_title.0 }}</h4>
            </div>
            <div class="contact-form-box margin-30px-top">
               <div class="no-margin-lr" id="success-contact-form" style="display: none;"></div>
                 {{ content.field_contact_form.0 }}
            </div>
      </div>
   </div>
</section>
<!-- Contact Info End -->
