<!-- About-Us Welcome -->
<div  id="about"  class="bg_gradient_team py-70">
 <div class="container-fluid">
    <div class="row  ">
       <!--#about-text start --> 
       <div class="who_we_area pl_50 title text-left col-md-5 col-sm-6 col-4pad wow fadeInUp">
          <p class="banner-text wow fadeInUp about-bottom-s font-25 " data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
          		{{ content.field_sub_text.0 }}
          </p>
          <h1 class=""> {{ content.field_title.0 }} </h1>
          <p class="about-bottom-s  wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"> 
          {{ content.field_body|render|striptags }}</p>
          	{% if content.field_url.0|render is not empty %}
	          <div class="top-contact wow fadeInRight text-left" style="visibility: visible; animation-name: fadeInRight;">
	             <a type="submit" id="#services" href="{{ content.field_url[0]['#url']|render }}" class="btn btn-default wow fadeInUp  js-scroll-trigger button_about_shadow" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">{{ content.field_url[0]['#title'] }}</a>
	          </div>
          	{% endif %} 		
       </div>
       <div class="who_we_area col-md-7 p0 text-right col-sm-6 col-4pad wow fadeInUp">
       	  <div class=" col-md-4 ">	
       		{{ content.field_gallery }}
          </div>
          <div class=" col-md-8 p0">   
             <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" class="border_img">
          </div>
       </div>
    </div>
 </div>
</div>
<!-- About-Us Welcome End-->
