<!-- Innovative Ideas -->
      <div  id="service"  class=" py-70 bg_gradient_team">
         <div class="container">
            <div class="row text-center mb-60 ">
               <div class="title wow fadeInUp">
                  {{ content.field_body.0 }}
                  <h1>{{ content.field_title.0 }}</h1>
               </div>
            </div>
            {{ content.field_innovative_ideas_items }}
            
         </div>
      </div>
<!-- Innovative Ideas End -->
