<!-- Appointment -->
<section class="title  text-left bg_Appointment">
 <div class="container-fluid">
    <div class="row text-center  ">
       <div class=" col-md-5 col-sm-6 col-4pad wow fadeInUp">
          <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}" alt="">
       </div>
       <div class=" col-md-7 text-left col-sm-6 col-4pad wow fadeInUp">
             <h1 class="c_f  mt_0">
                {{ content.field_title.0 }} 
             </h1>
             {{ content.field_body.0 }}
             {{ content.field_appointment_form }}
          
       </div>
    </div>
 </div>
</section>
<!-- Appointment End -->




