<!-- Banner -->
<div class="bg-banner-img clip-ellipse" style="background-image: url({{ file_url(content.field_image['#items'].entity.uri.value) }});">
   <div class="ovrllay">
      <!-- #banner start -->
      <section id="banner" class="" >
         <div class="container ">
            <div class="row">
               <!-- #banner-text start -->            
               <div id="banner-text" class="col-md-12 text-c  ">
                  <div class="left-borders">
                     <p  class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s"> 
                        {{ content.field_sub_text.0 }}
                     </p>
                     <h5 class="wow fadeInUp main-h" data-wow-delay="0.2s" >{{ content.field_title.0 }}</h5>
                  </div>
                  <p class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s">
                      {{ content.field_body.0 }}
                  </p>
               </div>
               <!-- /#banner-text End -->
            </div>
            {% if content.field_url.0|render is not empty %}
              <div class="top-contact wow fadeInRight text-left" style="visibility: visible; animation-name: fadeInRight;">
                 <a href="{{ content.field_url[0]['#url']|render }}" type="submit" id="#services" href="#services" class="btn btn-default wow fadeInUp  js-scroll-trigger button_about_shadow" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;">{{ content.field_url[0]['#title'] }}</a>
              </div>
            {% endif %}
         </div>
      </section>
   </div>
</div>
<!-- /#banner end -->
