<!-- Massive Success Items-->
<div class="bhoechie-tab-content massive-content">
   <div class="col-md-12 p0">
      <div class="padding-2 p0">
         <p class="img-text">{{ content.field_title.0 }} </p>
          <div class="desc">{{ content.field_body.0 }}</div>
      </div>
   </div>
</div>
<!-- Massive Success Items End-->
