<!-- Service Items -->
<div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
  <div class="service-s">
     <div class="servise-top wow fadeInUp">
        <img src="{{ file_url(content.field_image['#items'].entity.uri.value) }}">
     </div>
     <h2 class="Practice">{{ content.field_title.0 }}</h2>
     {{ content.field_body.0 }}
     <div class="button-div">	
     	  {% if content.field_url.0|render is not empty %}
        	<a href="{{ content.field_url[0]['#url']|render }}" class="button-buttom"> {{ content.field_url[0]['#title'] }}   </a>
       	{% endif %} 	
     </div>
  </div>
</div>
<!-- Service Items End-->
