<!-- FAQ -->
<div id="faq"  class="py-70 bg_gradient_team">
   <div class="container">
      <div class="row text-center mb-60 ">
         <div class="title wow fadeInUp">
            {{ content.field_body.0 }}
            <h1>{{ content.field_title.0 }}</h1>
         </div>
      </div>
      <div class="row about_row ">
         <div class="col-md-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {{ content.field_faq_items }}
            </div>
         </div>
      </div>
   </div>
</div>
<!-- FAQ End -->
