<!-- Call Us Items -->
<div class="call-to-action">
  <div class="container-fluid p0 text-center">
     <div class="">
        <img src="{{file_url(content.field_image['#items'].entity.uri.value) }}" alt="{{file_url(content.field_image['#items'].alt)}}">
     </div>
  </div>
</div>
<!-- Call Us End-->
