img{
object-fit:cover;
   -o-object-fit:cover;
}
nav.tabs {
    padding: 40px 70px 20px;
}
.tabs .tabs.primary a {
    background-color: #244276;
}
.tabs .tabs.primary a:hover {
    color: #fff !important;
    background: #081740 !important;
}
.copyright{
    padding: 30px 0px;
    color:#fff !important;
}
.copyright p{
    color:#fff;
}
.copyright p a{
    text-decoration: underline !important;
}
ul.contextual-links li a {
    color: #333 !important;
}
section#banner {
    padding: 270px 0px 70px;
}
.custom-banner{
    padding: 200px 0px 70px !important;
    height: 358px !important;
}

.user-logged-in .header_aera {
  top: 60px;
  position: absolute;
}
ul.toolbar-menu a{
	color: #565656 !important;
}
.region.region-footer-menu h2 {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    margin: 20px 0px;
    text-transform: uppercase;
}
.footer-menu li a {
    text-transform: uppercase;
}
#banner-text p {
    text-align: left;
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    text-transform: capitalize;
    line-height: 40px;
}
.service-s p {
    font-size: 16px;
    line-height: 1.7em;
    color: #5d648e;
    margin-bottom: 30px;
}
#about .who_we_area {
    margin-top: 50px;
}
.testimonial_area .testimonial_carosel .item p{
    max-width: 705px !important;
}
.blog-item{
    margin-top: 50px;
}
.video_p {
    font-weight: 400;
}
.webform-submission-contact-form-form .form-item, .webform-submission-contact-form-form .form-actions {
    margin: 0px;
}
.blog-details-img img {
    width: 100%;
}
.blog-details-area input#edit-submit {
    text-transform: uppercase;
    background: #296dc1;
    color: #fff;
    width: auto;
    padding: 10px 25px;
    color: #fff !important;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
}
.blog-details-area input#edit-submit:hover, .bg_Appointment input#edit-actions-submit:hover {
    color: #fff !important;
    background: #081740 !important;
}
.blog-details-area div#edit-actions {
    padding: 20px 0px;
}
.blog-details-area ul.inline, .blog-details-area ul.links.inline {
    float: right;
}
.blog-details-area ul.inline li a{
    color: #296dc1 !important;
}
.blog-details-area ul.inline li a:hover{
    color: #081740 !important;
}
#about .who_we_area.col-md-7.p0.text-right{
    margin-top: 0px;
}
.bg_Appointment .form-item, .bg_Appointment .form-actions {
    margin: 0px;
}
.blog-details-area .title p{
    color: #fff;
}
.bg_Appointment .col-md-7.text-left.col-sm-6.col-4pad.wow.fadeInUp p {
    color: #fff;
    margin-bottom: 20px;
}
.bg_Appointment .col-xs-12.col-sm-6.col-md-6{
    padding-left: 0px;
}
.contact-form-box .col-xs-12.col-sm-6.col-md-6, .contact-form-box .col-md-12.js-form-item {
    padding-left: 0px;
}
.bg_Appointment input#edit-actions-submit, .contact-form-box input#edit-actions-submit {
    margin-top: 30px;
    text-transform: uppercase;
    background: #296dc1;
    color: #fff;
    width: auto;
    padding: 10px 25px;
    color: #fff !important;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    height: max-content !important;
}
.bg_Appointment div#edit-actions, .contact-form-box div#edit-actions {
    padding-left: 0px;
}
.bhoechie-tab-content.massive-content .desc p {
    font-size: 22px;
    color: #5d648e;
    line-height: 35px;
    margin-bottom: 35px;
}
.masonry.mt-50 .item-folio__thumb img {
    width:100%;
    height: 300px;
}
.about-content .bg-color:nth-child(1n){
    background: #123b84;
}
.about-content .bg-color:nth-child(2n){
    background: #285096;
}
.about-content .bg-color:nth-child(3n){
    background: #3f62a0;
}
/* Page not found */
#not-found-section {
    padding: 50px 0px 100px;
}
.not-found-body {
    max-width: 70%;
    margin: auto;
}
.not-found-body h2 {
    font-size: 25px;
    font-weight: 600;
}
.not-title {
    border: 2px solid #296dc1;
    padding: 10px 50px 30px 50px;
    width: 50%;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 10px;
}
.not-title h1 {
    font-size: 125px;
    margin: 0px;
    color: #296dc1;
}
.not-title h2 {
    font-size: 25px;
    margin: 0px;
    color: #296dc1;
}
#not-found-section a.btn.btn-custom{
    margin-top: 30px;
    text-transform: uppercase;
    background: #296dc1;
    color: #fff;
    width: auto;
    padding: 10px 25px;
    color: #fff !important;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
}
#not-found-section a.btn.btn-custom:hover{
    color: #fff !important;
    background: #081740 !important;
    transition: 0.7s;
}
.toolbar-horizontal.path-frontpage nav.tabs{
  padding: 0px;
}
.toolbar-horizontal.path-frontpage .header_aera{
  margin-top: 100px !important;
  padding: 0px !important;
}
.left-tabs-text{
  font-size: 22px;
}
.form-control{
    color:#fff !important;
}
.form-control::placeholder{
    color:#fff;
}
.contact-form-box .form-control::placeholder{
    color:black;
    opacity: 0.6;
}
.form-control {
    /* display: block; */
    display: inline-block !important;
    height: 50px !important;
    border-radius: unset;
    /* width: 100%; */
    /* height: 34px; */
    /* padding: 6px 12px; */
    /* font-size: 14px; */
    /* line-height: 1.42857143; */
    /* color: #555; */
    /* background-color: #fff; */
    /* background-image: none; */
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    /* -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
}
@media (min-width: 320px) and (max-width: 480px){
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #296dc1 !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #296dc1 !important;
}
.not-title {
    border: 2px solid #296dc1 !important;
    padding: 10px 50px 30px 50px !important;
    width: 100% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}
@media (min-width: 481px) and (max-width: 768px) {
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #296dc1 !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #296dc1 !important;
}
.not-title {
    border: 2px solid #296dc1 !important;
    padding: 10px 50px 30px 50px !important;
    width: 100% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}
@media (min-width: 768px) and (max-width: 992px) {
.not-title h1 {
    font-size: 92px !important;
    margin: 0px !important;
    color: #296dc1 !important;
}
.not-title h2 {
    font-size: 22px !important;
    margin: 0px !important;
    color: #296dc1 !important;
}
.not-title {
    border: 2px solid #296dc1 !important;
    padding: 10px 50px 30px 50px !important;
    width: 70% !important;
    margin: auto !important;
    margin-bottom: 40px !important;
    border-radius: 10px !important;
}
}
/* End page not found*/

/* User login form css*/
#user-login {
  max-width: 40%;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 70px;
  margin-top: 160px;
  overflow: hidden;
}
.login-text .form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
.login-text a {
  color: #f91546;
}
.login-button input {
    height: auto !important;
    text-transform: uppercase;
    background: #296dc1;
    color: #fff;
    width: auto;
    padding: 10px 25px;
    color: #fff !important;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500 !important;
}
.login-button input:hover {
    color: #fff !important;
    background: #081740 !important;
    transition: 0.7s;
}
.login-button , #user-register-form .form-actions ,#user-pass .form-actions{
  text-align: center;
}

#user-register-form , #user-pass{
  max-width: 50%;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}

#user-register-form .js-form-item {
  margin-bottom: 20px !important;
}

#user-register-form .js-form-item input, #user-pass .js-form-item input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

#user-register-form .form-actions input , #user-pass .form-actions input {
    height: auto !important;
    text-transform: uppercase;
    background: #296dc1;
    color: #fff;
    width: auto;
    padding: 10px 25px;
    color: #fff !important;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500 !important;
}
#user-register-form .form-actions input:hover , #user-pass .form-actions input:hover {
    color: #fff !important;
    background: #081740 !important;
    transition: 0.7s;
}
summary {
    font-size: 16px;
}
#user-register-form .form-actions label , #user-pass .form-actions label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 17px;
}
@media only screen and (max-width: 610px) {

#user-login {
  max-width: 95% !important;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 40px;
  margin-top: 20px;
  overflow: hidden;
}

#user-register-form , #user-pass{
  max-width: 95% !important;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}
}

@media (min-width: 768px) and (max-width: 992px) {

#user-login {
  max-width: 95% !important;
  margin: auto;
  padding: 20px 0px 40px;
  border: 2px solid #f5f5f5;
  margin-bottom: 40px;
  margin-top: 20px;
  overflow: hidden;
}

#user-register-form , #user-pass{
  max-width: 95% !important;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #f5f5f5;
  padding: 20px 20px 40px;
  overflow: hidden;
}
}
/* End  User login form css*/
@media screen and (min-width:320px) and (max-width:767px){
    section#banner {
        padding-top: 225px !important;
    }
}

@media screen and (min-width:320px) and (max-width:760px){
    #banner-text p{
        text-align: center !important;
    }
    .custom-banner {
        padding: 150px 0px 0px !important;
        height: auto !important;
    }
}
@media screen and (min-width:770px) and (max-width:990px){
    div.bhoechie-tab-container{
        display: contents;
    }    
    div#about {
        padding: 70px 0px 60px 0px;
    }
    div#about .top-service.wow.fadeInRight.text-center a {
        margin: 30px 0px;
    }
}
@media screen and (min-width:320px) and (max-width:990px){
    div.bhoechie-tab-container .left-tabs-text {
        font-size: 20px;
    }
   div.bhoechie-tab-container .img-text {
        font-size: 20px;
        margin-bottom: 22px;
    }
    .bhoechie-tab-content.massive-content .desc p {
        font-size: 18px;
    } 
    div.bhoechie-tab-container .list-group-item {
      padding: 0px 15px;
    }
    .custom-banner {
        height: auto !important;
    }
}
@media (max-width: 480px){
/*    .py-70 {
        padding: 60px 0px;
    }*/
    .our-history .text-center_timeline {
        width: 100%;
    }
    .bg_Appointment input#edit-actions-submit, .contact-form-box input#edit-actions-submit {
        width: auto;
        padding: 10px 20px;
        font-size: 15px;
        font-weight: 500;
        height: auto !important;
    }
}
