

----------------------------------------------------*/
/*--------------------------------------------------*/
/*Color Variables*/
::selection {
    background-color:#99a9bb;
    color: #FFF
}

/*----------------------------------
   1.Start button
------------------------------------*/
.btn{
padding: 18px 40px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 0px;
      display: inline-block;
    border: 0;
     text-transform: uppercase;
     text-decoration: none !important;

}
img {
  width: 100%;
}
.btn-default {
   background: #123b84;
    color: #fff !important;
    border-radius: 5px;
}
.btn_ff{
  background:#fff !important;
  color: #000 !important;
}

.btn-default:hover {
    color: #fff !important;
    background:#081740 !important; 
   
}

.btn-primary {
   background: #13c3a4 !important;
    color: #fff !important;
    border-radius: 5px;
  }
   
.btn-primary:hover{
    color: #fff !important;
    border-radius:5px;
    background:#042721 !important;
}
.radius-50{
  border-radius: 5px !important;
  padding: 12px 40px !important;
}
a:before, a:after, .btn:before, .btn:after, button:before, button:after {
    transition: all 300ms linear 0s;
}


a {
      color: #fff !important;
    text-decoration: none !important;
}

/*----------------------------------
   End button
------------------------------------*/

/*----------------------------------
   2. Headings
------------------------------------*/

/* Section Title*/
.title {
  text-align: center;
  text-transform: uppercase;
}
.title h2  {
    font-size: 30px;
    color: #99a9bb;
 
    font-weight: 550;
    text-transform: capitalize;
}
.pt_banner_30{
  padding-top: 35px !important
}




.title h4 {

  color: #555555;
  padding-top: 55px;
}
.subtitle h2 {

  color: #222222;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}





/*----------------------------------
   4.Prefix Styles
------------------------------------*/
/*Prefix Styles*/
.m0 {
  margin: 0px;
}

.p0 {
  padding:0px;
}
.font-25{
  font-size: 25px !important;
}
.pl_50{
  margin-top:80px;
  padding-left:80px !important;
}
body {
 font-family: 'Roboto', sans-serif;
  /*Section Fix*/
}

body p {
 font-family: 'Roboto', sans-serif;
  line-height: 26px;
  color: #555555;
  font-size: 16px;
  margin: 0;
}
body section.row, body header.row, body footer.row {
  margin: 0;
 font-family: 'Roboto', sans-serif;
}

/*Ancore*/
a, .btn, button {
  outline: none;
  transition: all 300ms linear 0s;
}
a:before, a:after, .btn:before, .btn:after, button:before, button:after {
  transition: all 300ms linear 0s;
}
a:focus, a:hover, .btn:focus, .btn:hover, button:focus, button:hover {
  outline: none;
  text-decoration: none;
  transition: all 300ms linear 0s;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

blockquote {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}
blockquote, q {
    position: relative;
    padding: 4rem 3rem 3rem;
    text-align: center;
    font-size: 2rem;
    line-height: 1.88;
    border: 1px double rgba(0,0,0,.1);
    margin: 6rem 0;
    display: block;
}
thead, th, td {
    border: 1px solid black;
    padding: 10px;
}
ul li {
    line-height: 30px;
}
ol li {
    line-height: 30px;
}
strong {
    font-weight: 600;
    line-height: 35px;
}
tbody a{
  color:#337ab7 !important;
}
dd, dt {
    line-height: 2.428571;
    }
   
/*--------------------------------------------------*/


/* Header Aera */


.header_aera {
  background:no-repeat !important;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 70px 0px;
  width: 100%;
  z-index: 100;
  position: absolute;
}

.header_aera .show {
  height: 80px;
  border-bottom: 1px solid transparent;
}
.header_aera .navbar-header .navbar-brand {
  padding-top:0px !important;
  text-transform:uppercase;
}
.header_aera .navbar-header .navbar-brand img {
  max-width: 100%;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li a {
  
    text-transform: uppercase;
    padding: 0;
   font-family: 'Roboto', sans-serif;
    padding-left: 30px;
    color: #fff !important;
    font-size: 16px;
    font-weight: 700;

}
.header_aera .navbar-collapse .navbar-nav.navbar-right li a:hover, .header_aera .navbar-collapse .navbar-nav.navbar-right li a:focus {
  color: #f6b60b;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom {
  width: 100px;
  background: #f6b60b;
  color: #fff;
  padding: 0;
  text-align: center;
  margin-left: 15px;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom:hover, .header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom:focus {
  color: #222222;
}


.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul li {
  display: block;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul li a {
  line-height: normal;
  padding: 12px 8px;
  display: block;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul:before {
  content: "";
  width: 100%;
  height: 5px;
  background: #222222;
  position: absolute;
  top: 0px;
  transform: translateZ(0);
  backface-visibility: hidden;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: all 800ms ease-in-out;
}
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul:after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0px;
  background: #222222;
  transform: translateZ(0);
  backface-visibility: hidden;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition: all 800ms ease-in-out;
}
@media (min-width: 768px) {
  .header_aera .navbar-collapse .navbar-nav.navbar-right li:hover.submenu ul {
    transform: rotateX(0deg);
  }
  .header_aera .navbar-collapse .navbar-nav.navbar-right li:hover.submenu ul:before {
    transform: scaleX(1);
  }
  .header_aera .navbar-collapse .navbar-nav.navbar-right li:hover.submenu ul:after {
    transform: scaleX(1);
  }
}

/* End Header Aera */
/* End header area 2 */
.header_aera_tow {
  background-color: transparent;
  position: relative;
  box-shadow: none;
}
.header_aera_tow .navbar_right_fulid {
  background: #fff;
  height: 100px;
  padding-left: 20px;
  box-shadow: 0px 0px 40px 0px rgba(21, 47, 95, 0.2);
}
.header_aera_tow .navbar_right_fulid:after {
  content: "";
  position: absolute;
  right: 0;
  height: 100px;
  background: #fff;
  width: 30%;
  z-index: -1;
  box-shadow: 0px 0px 40px 0px rgba(21, 47, 95, 0.2);
}
.header_aera_tow .navbar_right_fulid ul.nav.navbar-nav.navbar-right {
  margin-right: 0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
}

/* header area 2 */
/*--------------------------------------------------*/



/*start banner area 1*/
/*--------------------------------------------------*/
.title-left h1{
    font-size: 35px;
    font-weight: 700;
    color: #364167;
        line-height: 50px;
    text-transform: capitalize;
}
  
.bg-banner-img{
    background: rgba(255,255,255,0);
    /*background-image: url(../images/banner-img.jpg);*/
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-banner-img{
  background: rgba(255,255,255,0);
    background-image: url(../images/about-banner-img.jpg);
    background-repeat: no-repeat;
    background-position:-50px 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.about-us-banner{
    background-image: url(../images/about-banner-img.jpg);
}

.service-banner-img{
  background: rgba(255,255,255,0);
    background-image: url(../images/service-banner-img.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  
.mb-90{
  padding-bottom:140px;

}

.py-90{
  padding: 90px 0px;
}
.color-gray{
  color:#dedede;
}
.pb_0{
  padding-bottom: 0px !important;
}
.mb_50{
  margin-bottom: 50px
}

.ovrllay_abouts{
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    right: 0;
   background-image: linear-gradient(to right ,#383f50d1,#383f50cf,#383f50d4,#678dcb99,#678dcbdb)!important;
}

.ovrllay{
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    right: 0;
    background-image: linear-gradient(to right ,#0a0d16c9,#0a0d16b8,#0a0d16b8,#2211078a,#221107ab)!important;

}
.bg_Appointment{

background:#23447a;

}
.bg_form{
  background:#274980;
  border-color:#274980; 
}
img{
    vertical-align: middle;
    max-width: 100%;
}
.shap_top{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 30px;
}
.all-text {
    padding: 108px 50px;
}
.shap_bottom{
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}


.banner-text{
   text-align: left;
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
    text-transform: capitalize;
    line-height: 40px;
}
.py-70{
  padding: 70px 0px;
}
.mb-60{
  margin-bottom: 60px;
}




.masonry-wrap {
    width: 1200px;
    margin: 0 auto;
}
/* DivTable.com */
.divTable{
    display: table;
    width: 100%;
}
.divTableRow {
    display: table-row;
}
.divTableHeading {

    display: table-header-group;
}
.divTableCell, .divTableHead {
   display: table-cell;
    vertical-align: middle;
}
.divTableHeading {
 
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}
/*End banner area 1*/
/*--------------------------------------------------*/

/*start servise area */
/*--------------------------------------------------*/
.servise-top{
    text-align: center;
    visibility: visible;
    animation-name: fadeInUp;
    line-height: 80px;
    margin-bottom: 20px;
}
.unify{
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
    line-height: 35px;
    color: #1d233b;
}
.bottom-s{
    font-size: 16px;
    line-height:1.7em;
    color: #5d648e;
    margin-bottom:30px;
}
.button-div{
  margin-top: 20px;
}
.button-s:after {
    content: '→';
    position: absolute;
    margin-left: 5px;
    font-family: 'IntercomText', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    transition: transform 0.3s;
    margin-top: 2px;
    transition-duration: 1s;
}
.button-s:hover:after{
  margin-left: 15px;
  transition-duration:1s;
}
.button-s{
    font-size: 16px;
    color: #1d233b !important;
    font-weight: 600;
    display: block;
    letter-spacing: 0.15px;
    transition-duration: 1s;
}



.service-s{
      box-shadow: 0px 4px 30px #d8d8d899;
    padding: 30px 15px 30px 20px;
    background: #fff;
    transition-duration: 1s;
    text-align: center;
}
.service-s:hover{
background:#f0f0ff;
 box-shadow: 0px 10px 50px #d8d8d8d1; 
}
.Practice{
    font-weight: 500;
    font-size: 20px;
    text-align: center;

    margin: 10px 0;
    text-transform: capitalize;
    line-height: 35px;
    color: #223464;
}
.button-buttom{
    font-size: 16px;
    color: #8796e8 !important;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.15px;
    transition-duration: 1s;
}





.c_yellow{
  color: #ffa800 !important;
}
.btn_yellow{
  background: #ffa800 !important;
}
.contact-map{
        box-shadow: 0px 6px 21px -5px #d3d3d3;
   background:#edf6fb;
    border-radius: 10px;
    transition-duration: 1s;
    float: left;
}
.section-heading.left {
    margin-bottom: 30px;
    text-align: left;
}
.section-heading h4 {
    font-size: 30px;
    line-height: normal;
    color: #244276;
        position: relative;
        padding-bottom: 20px;
}
.btn-free {
  margin: 60px 0px;
}

.top-contact{
  margin-top:30px;
}
.top-service{
margin-top: 80px;
}

.contact-info-section h4 {
    color: #232323;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: normal;
}
.contact-info-section p {
    color: #999;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}
.contact-info-section {
  
    padding: 25px 0;
    margin-bottom: 0;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}
.contact-info-section h4 {
    color: #232323;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: normal;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
    padding-left: 0px !important;
}
.list-style-1 li {
    padding: 5px 0;
}
.contact-info-section p {
    color: #999;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}
.contact-info-section i {
    width: 50px;
    height: 50px;
    padding-top: 7px;
    background: #244276;
    color: #fff;
    font-size: 20px;
    margin-right:20px;
    margin-top: 8px;
    float: left;
    line-height: 35px;
}
strong {
  
    font-weight: 600;
    font-size: 25px;
    color: #244276;
}
.text-rights{
  float: left;
  margin-right:85px;
  text-align: left !important;
}
.list-style-2 {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-style-2 li {
    position: relative;
    padding: 0 0 0 12px;
    margin: 0 0 9px 0;
}
.list-style-2 li:before {
    content: "";
    width: 5px;
    height: 1px;
    background-color: #232323;
    position: absolute;
    top: 12px;
    left: 0;
}
input,
select {
    border: 1px solid #d1d1d1;
    font-size: 14px;
    padding: 8px 15px;
    width: 100%;
    margin: 0 0 15px 0;
    max-width: 100%;
    resize: none;
    color: #000;
    height: 50px;
}

textarea{
    border: 1px solid #d1d1d1;
    font-size: 14px;
    padding: 8px 15px;
    width: 100%;
    margin: 0 0 15px 0;
    max-width: 100%;
    resize: none;
    height: 200px;
}

input[type="button"],
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea,
input[type="submit"] {
    -webkit-appearance: none;
    outline: none

}

input:focus,
textarea:focus {
    border-color: #585858;
    outline: none
}

input[type="button"]:focus {
    outline: none
}

select::-ms-expand {
    display: none
}

iframe {
    border: 0
}
.padding-30px-left {
    padding-left: 30px;
}
.list-style-1 li {
 padding-bottom: 50px;
    list-style-type: none;
    margin-bottom: 50px;
}

.map_top_h{
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    color: #364167;
    padding-top: 80px;
    padding-bottom: 100px;
}

.about_row{
  margin-top:100px;
}
.mb_150{
  margin-bottom: 100px; 
}
.font_30{
  font-size: 30px;
  font-weight: 600;
}
.my_20{
  display: none;
}
.mt_0{
  margin-top: 0px;
}

.p-0{
  padding-left: 0px !important;
}
.pt-0{
  padding-top: 0px !important;
}
.pb-0{
  padding-bottom: 0px !important;
}

.about_h{     font-size: 25px;     color: #90a0b4;     font-weight: 540;
margin: 30px 0px; } 

.about_s2 {
  text-align: left;
    font-size: 25px;
    color: #90a0b4;
    line-height: 40px;
    font-weight: 400;
    margin: 30px 0px;
}

.about_bottom_h{font-size: 20px;     line-height:
35px;color: #90a0b4; padding-right: 15px; 
    text-transform: capitalize;

}
.mt-50{
  margin-top: 50px;
} 
 .my_0{margin:0px !important}

.mr-0{
  margin-right: 0px;
}
.pl-40{
  padding-left: 40px !important;
}
.py-40{
  padding:0px 30px ;
}
.pr-0{
  padding-right: 0px !important;
}




.bg_color{
    background: #123b84;
}
.bg_color2{
    background: #285096;
}
.bg_color3{
    background: #3f62a0;
}


.Solid-dental{
text-align: center;
 padding: 30px; 
}


.Solid-dental h1{
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    line-height: 35px;
    text-transform: capitalize;
    margin-bottom:20px;


}
.Solid-dental p {
    font-size: 20px;
    line-height:30px;
    color: #fff;
    margin-bottom: 25px;
}

.Solid-dental a{
    font-size: 20px;
    font-weight: 400;
    text-transform:capitalize !important;
    text-decoration: underline !important;
}
.Solid-dental a:hover{
  color:#223464 !important;

}
.Solid-dental img{
    border-radius: 50%;
    border: 2px solid #fdfdff; 
    width:104px;
}
.massive-success-section .fitter img{
  width:80px;
}
.alert{
  position: fixed;
  bottom:0;
  margin-bottom: 0;
  z-index: 2;
}
.service-s img{
  width:60px;
}

/*End servise area */


/*--------------------------------------------------*/
/*----------------------------------   


 

/*------------------------------------
.start about_area
------------------------------------*/
.title-lefts h1{
    font-size: 50px;
    font-weight: 900;
    color: #364167;
        line-height: 50px;
    text-transform: capitalize;
}



.bg_gray{
    background: #f4f4fb !important;
    background-image: linear-gradient(to right bottom,#f4f4fb,#f4f4fb,#f4f4fb,#f4f4fb,#f4f4fb)!important;
}

.title-lefts .bottom_h{
    font-size: 20px;
    line-height: 35px;
    color: #37456D;
    margin: 25px 0px;
}
.about-s{
    font-size: 25px;
    color: #37456c;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top:55px;
}

.about-bottom-s{
    font-size: 20px;
    color: #223464 !important;
    line-height: 35px;
    font-weight: 500;
    text-transform: capitalize;
}


.about-bottom-button{
    font-size: 20px;
    color: #5d648e !important;
    line-height:40px;
    font-weight: 500;
    text-transform: capitalize;
}
.bg_blue_img {
    background-color: #223464 !important;
    background: url(../images/bg_video.jpg) right top no-repeat;
}
.mt_40{
  margin-top:15px;
}
.px_40{
  padding:30px;
      box-shadow: 0px 5px 30px #cccccc66;
}
.c_f{
  color: #fff !important;
}
.pb_70{
padding-bottom: 70px;
}


.about_top-100{
  margin-top: 120px;
}
.contact_bottom_r{
    font-size: 30px;
    color: #3b4a6b;
    font-weight: 540;
   margin-bottom: 30px;
}
label{
    font-size: 16px;
    color: #98a4b2;
    font-weight: 400;
    margin: 10px 0px;
}

.right_icone li {
    list-style: none;
    background: url(../images/right.html) 0 8px;
    background-repeat: no-repeat;
    padding-left: 40px;
    font-size: 20px;
    color: #fff;
    line-height:40px;
    text-transform: capitalize;
}

.services-right{
    padding-top: 40px;
    padding-left: 35px;
    padding-right: 25px;
}

.services-right-text{
    font-size: 22px;
    line-height: 45px;
    color: #90a0b4;
    padding-right: 0px;
    text-transform: capitalize;
}

.owl-dots{
  display: none !important;
}
  
.title h1{
    font-size: 35px;
    font-weight: 400;
    color: #364167;
    line-height:30px;
    text-transform: capitalize;
}
.title p {
    font-size:20px;
    line-height: 35px;
    color: #5d648e;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.text-left{
  text-align: left !important;
}


.blog-img{
transition: all 0.3s ease 0.0s;
}

.blog-img:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}
.border_img{
transition: all 0.3s ease 0.0s;
}

.border_img:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}
               


/*------------------------------------
.History Us area start 
------------------------------------*/
   
 /*--------------------------------------------------*/

/*
template_faq-mobile-screen
*/

.template_faq {
    background: #edf3fe none repeat scroll 0 0;
}
.panel-group {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
  
    margin-bottom: 0;
    
}
#accordion .panel {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 15px 10px;
}
#accordion .panel-heading {
    border-radius: 30px;
    padding: 0;
}
#accordion .panel-title a {
    background:#8796e8  none repeat scroll 0 0;
    border: 1px solid transparent;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 600;
      padding: 25px 20px 25px 100px;
    position: relative;
    transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed {
    background: #f0f0ff  none repeat scroll 0 0;
    border: 1px solid #f0f0ff;
    color: #333 !important;
}
#accordion .panel-title a::after, #accordion .panel-title a.collapsed::after {
    background: #8796e8 none repeat scroll 0 0;
    border:1px solid #d2e6f7;
    border-radius: 50%;
    color: #fff;
    
    font-family: fontawesome;
        content: '\f068';
    font-family: 'FontAwesome';
    font-size: 18px;
    height: 35px;
    left: 20px;
    line-height: 35px;
    position: absolute;
    text-align: center;
    top: 22px;
    transition: all 0.3s ease 0s;
    width: 35px;
}

#accordion .panel-title a.collapsed::after {
    background: none repeat scroll 0 0;
    border:1px solid #8796e8;
    box-shadow: none;
    color: #8796e8 ;
      content: '\f067';
    font-family: 'FontAwesome';
    position: absolute;
}
#accordion .panel-body {
        background:#f0f0ff none repeat scroll 0 0;
    border-top: medium none;
    padding: 25px;
    position: relative;
}


.left-tabs-text-2{
font-size: 20px;
   color:#364167;
    font-weight: 500;
}
.video_p {
    font-size: 20px;
    color: #5d648e;
    line-height: 32px;
    font-weight: 300;
}
/*--------------------------------------------------*/

 /* -----------------------------------------------
 * Timeline
 * --------------------------------------------- */
 .mt_150{margin-top: 150px;}
 .timeline {
    list-style: none;
    position: relative;
    font-weight: 300;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 2px;
    background: #d6d8e3;
    left: 50%;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
    width:40%;
    float: left;
    clear: left;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    border-radius: 5px;
    position: relative;
}

  
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}


  
.timeline-footer {
    padding: 20px;
    box-shadow: 0px 5px 30px #cccccc59;
    border-radius: 5px;
    border: 1px solid #8898f0;
}

.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}
.timeline > li:nth-child(2) {
    margin-top:0px;
}
.timeline > li.timeline-inverted > .timeline-badge {
    left: -12px;
}
.no-float {
    float: none !important;
}
.mt_560{
  margin-top:205px;
}

.timeline-footer h1 {
    font-size:19px;
    font-weight: 600;
    color: #223464;
    line-height: 50px;
    text-transform: uppercase;
}
.timeline-footer p{
    font-size: 18px;
    color: #5d648e;
    line-height: 35px;
    font-weight: 500;
    text-transform: capitalize;

}

.img_top {
    position: absolute;
    top: 80px;
    color: #8898f0;
    font-size: 18px;
    right: -226px;
    border-radius: 30px;
    border: 1px solid #8898f0;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 30px;
    background: #fff;
}

.img_left {
    position: absolute;
    top: 80px;
    color: #8898f0;
    font-size: 18px;
    left: -226px;
    border-radius: 30px;
    border:1px solid #8898f0;
    font-weight: 400;
    text-transform: uppercase;
    padding: 10px 30px;
    background: #fff;
}
.text-center_timeline {
    color: #8898f0;
    font-size: 18px;
    text-align: center;
    margin:0 auto;
    width: 300px;
    border-radius: 30px;
    border:1px solid #8898f0;
    font-weight: 400;
    text-transform:capitalize;
    padding: 10px 30px;
    background: #fff;
}
.mt-100{margin-top:100px;}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li {
        margin-bottom: 0px;
        position: relative;
        width:90%;
        float: left;
        clear: left;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
    }
    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-badge {
        left: 28px;
    }
    .timeline-body {
      display: none;
    }
    .timeline:before{
      display: none;
    }

  }

  .timeline-body h1{
      position: absolute;
    top:40px;
    left: -400px;
  }
  .timeline-body h2 {
    position: absolute;
   top: 44px;
    right: -167px;
}
.timeline-body h3 {
    position: absolute;
    top: 44px;
    right: -167px;
}
.timeline-body h1::before {
    content: url(../images/timeline.png);
    position: relative;
    left: 116px;
    top: 13px;}
    .timeline-body h2::before {
    content: url(../images/timeline.png);
    position: relative;
    left: 116px;
    top: 13px;}
    .timeline-body h3::before {
    content: url(../images/timeline.png);
    position: relative;
    left: 116px;
    top: 20px;}

/*------------------------------------
.History Us area End 
------------------------------------*/




@media screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 25px; }

}

/*End Table   */







/*----------------------------------
   12.our_achievments_area
------------------------------------*/



/*--------------------------------------------------*/

/*----------------------------------
   13.testimonial_area
------------------------------------*/




/* Testimonial Area start */
.testimonial_area {
  padding-bottom: 90px;
  background: #fff;
}
.testimonial_area .testimonial_carosel {
  padding-top: 60px;
      box-shadow: 0px 5px 30px #cccccc61;
}
.testimonial_area .testimonial_carosel .item .media {
  max-width:385px;
  margin: 0 auto;
  padding-bottom: 35px;
}
.testimonial_area .testimonial_carosel .item .media .media-left {
  padding-right: 30px;
  float: left;
}
.testimonial_area .testimonial_carosel .item .media .media-left a img {
    width: auto;
    height: 110px;
    border-radius: 50%;
}
.testimonial_area .testimonial_carosel .item .media .media-body {
  padding-top: 40px;
}

.slider_span_color{
  color: #90a0b4 !important;
  font-style: italic;
}

.testimonial_area .testimonial_carosel .item .media .media-body h4 {
 font-size: 18px;
color:#364167;
font-weight:600; 
  text-transform: capitalize;
 
}
.testimonial_area .testimonial_carosel .item .media .media-body p {
 font-size: 14px;
color:#5d648e;
line-height: 25px;
text-align: left;
font-weight:400; 
  text-transform: capitalize;
 
}
.testimonial_area  {
      background: #fff !important;
    }
   
.body-slider{
       font-size: 25px;
    font-weight: 700;
    color: #364167;
}
.img-s{
    margin: 30px 0px;
}
.owl-carousel .owl-item img{
  max-width: 100% !important;
  text-align: center !important;
}
.testimonial_area .testimonial_carosel .item p  {
    color: #364167;
    max-width: 945px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    padding-bottom:36px;
}
.testimonial_area .testimonial_carosel .item p i {
  color: #555555;
  font-size: 18px;
  display: block;
}
.testimonial_area .testimonial_carosel .item p .fa-quote-left {
  text-align: right;
  padding-top: 5px;
}
.testimonial_area .testimonial_carosel .item p .fa-quote-right {
  text-align: left;
  padding-bottom: 5px;
}
.testimonial_area .testimonial_carosel .owl-controls {
  text-align: center;
}
.testimonial_area .testimonial_carosel .owl-controls .owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border: 2px solid #555555;
  margin-left: 15px;
  display: inline-block;
  transition: all 300ms linear 0s;
  border-radius: 50%;
}
.testimonial_area .testimonial_carosel .owl-controls .owl-dots .owl-dot:hover, .testimonial_area .testimonial_carosel .owl-controls .owl-dots .owl-dot:focus, .testimonial_area .testimonial_carosel .owl-controls .owl-dots .owl-dot.active {
  background: #7a90ff;
  border: 2px solid #7a90ff;
}
.slider_hr {
    width: 120px;
    height: 1px;
    background: #d3d4ff;
    margin-bottom: 40px;
}

.owl-prev {
   
    position: absolute;
    bottom: 50%;
    color: transparent !important;
}
.testimonial_area:hover .owl-prev{
  display:block !important;
} 
.testimonial_area:hover .owl-next{
  display:block !important;
} 

.owl-next{
   
    position: absolute;
    right: 0;
    bottom: 50%;
    color: transparent !important;
}
.owl-prev::before { 
    content: url(../images/left-r.png);

}
.owl-next::before { 
    content: url(../images/right-r.png);

}
.owl-dots{
  display: none !important;
}
  
/* End Testimonial Area */








/*----------------------------------
   14.our_partners_area
------------------------------------*/
/* Our Partners Area start */
.bg-parthners{background:#f0f0ff;}
.email_color_site{
  color:#999 !important; 
}

.our_partners_area .book_now_aera {
  
  padding: 50px 0;
}
.our_partners_area .book_now_aera .book_now .booking_text {
  padding-top: 8px;
}
.our_partners_area .book_now_aera .book_now .booking_text h4 {
 
  color: #364167;
    line-height: 30px;
    font-size: 20px;
    font-weight: 600;

}
.our_partners_area .book_now_aera .book_now .booking_text p {
    color: #a6acb7;
    font-size: 16px;
    padding-top: 20px;
}




/* End Our Partners Area */
/*----------------------------------
   14.our_modal_area
------------------------------------*/

.py-200{
 padding: 201px 0px !important;
    padding-bottom: 328px !important;
}
.py-45{
  padding: 40px 0px !important;
}
.py_map_40{
  padding-top: 40px;
  padding-bottom: 0px !important;
}



/*------------------------------------
14.End-modal area
------------------------------------*/
/* ------------------------------------------------------------------- 
 * ## bricks/masonry
 * ------------------------------------------------------------------- */
.masonry-wrap {
  margin-top: 6rem;
  max-width: none;
  width: 1380px;
}

.masonry:after {
  content: "";
  display: table;
  clear: both;
}
.masonry .grid-sizer,
.masonry__brick {
  width: 460px;
}
.masonry__brick {
  float: left;
  padding: 0;
}

.item-folio {
  position: relative;
  overflow: hidden;
}

.item-folio__thumb img {
  vertical-align: top;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.item-folio__thumb a {
  display: block;
}
.item-folio__thumb a::before {
  z-index: 1;
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  content: "";
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.item-folio__thumb a::after {
  z-index: 1;
  content: "...";
  font-family: 'PT Sans', sans-serif;
  font-size: 3rem;
  color: #000000;
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.item-folio__text {
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 3.6rem;
  padding: 0 3rem;
  -webkit-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.item-folio__title {
  color: #000000;
  font-size: 1.8rem;
  margin: 0;
}

.item-folio__cat {
  color: black;
  
  font-size: 1.5rem;
  margin-bottom: 0;
}

.item-folio__caption {
  display: none;
}

.item-folio__project-link {
  z-index: 500;
  display: block;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3rem;
  color: #ffffff;
  background-color: #000000;
  padding: 0.6rem 1.2rem;
  position: absolute;
  top: 3rem;
  left: 3rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.item-folio__project-link::before {
  display: block;
  content: "";
  height: 1px;
  width: 3rem;
  background-color: white;
  position: absolute;
  top: 50%;
  left: -3rem;
}
.item-folio__project-link:hover,
.item-folio__project-link:focus,
.item-folio__project-link:active {
  background-color: #cc147f;
  color: #ffffff;
}

/* on hover */
.item-folio:hover .item-folio__thumb a::before {
  opacity: 1;
  visibility: visible;
}
.item-folio:hover .item-folio__thumb a::after {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.item-folio:hover .item-folio__thumb img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
   
.item-folio:hover .item-folio__text {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


/* ------------------------------------------------------------------- 
 * responsive:
 * works
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1500px) {
  .masonry-wrap {
    width: 1200px;
  }

  .masonry .grid-sizer,
  .masonry__brick {
    width: 400px;
  }
}
@media only screen and (max-width: 1350px) {
  .masonry-wrap {
    width: 1158px;
  }

  .masonry .grid-sizer,
  .masonry__brick {
    width: 386px;
  }
}
@media only screen and (max-width: 1300px) {
  .masonry-wrap {
    width: 990px;
  }

  .masonry .grid-sizer,
  .masonry__brick {
    width: 330px;
  }
}
@media only screen and (max-width: 1200px) {
  .s-works {
    padding: 15rem 0 22.2rem;
  }
}
@media only screen and (max-width: 1100px) {
  .masonry-wrap {
    width: 90%;
    max-width: 800px;
  }

  .masonry .grid-sizer,
  .masonry__brick {
    width: 50%;
  }
}
@media only screen and (max-width: 800px) {
  .s-works {
    padding: 12rem 0 8rem;
  }

  .masonry-wrap {
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 600px) {
  .masonry .grid-sizer,
  .masonry__brick {
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .s-works {
    padding: 5.6rem 0 21rem;
  }

  .masonry-wrap {
    width: auto;
  }
}




/*------------------------------------
19.Edit-css
------------------------------------*/

/*Edit-css start*/
.top-button {
    margin-top: 10px;
}
.button-n,
a {
    text-decoration: none!important;
    color:#fff !important;
}

.header_aera .navbar-header .navbar-brand{
  padding-top:20px !important;
}
.py-30{
  padding:20px 0px;
}
.tr{
text-align: right;
}


.what_we_area {
    
    background: #f2e9df !important;
    background-image: linear-gradient(to right bottom, #f2e9df, #c6dae1, #c6dae1, #f2e9df, #f2e9df) !important;
}
.logo-biss{
  margin-top: 10px;
}

section{
  padding: 70px 0px;
}

.main-h{
    font-size: 45px;
    line-height:1.3;
    color: #fff;
    text-align: left;
    font-weight: 400;
    margin-top:-10px;
    margin-bottom: 60px;
    text-transform: uppercase;
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms;
    visibility: visible;
    
}

.main-about_h{
    font-size: 45px;
    line-height:1.3;
    color: #fff;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms;
    visibility: visible;
    
}
.main-h2{
    font-size: 24px;
  visibility: visible;
    animation-name:fadeInUp;
    font-weight: normal;
    margin-bottom: 30px;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
    visibility: visible;
    animation-name:fadeInUp;
  }
  .main-h3{
visibility: visible;
    animation-name:fadeInUp;
  }

  .slider_area .slider_inner .camera_caption div a {
    font: 700 18px/59px "Roboto", sans-serif;
    width: 180px;
    text-align: center;
    background: #f6b60b;
    display: block;
    text-shadow: none;
    margin: 0 auto;
    outline: none !important;
    box-shadow: none;
    border: 0;
    color: #222222;
    position: relative;
    z-index: 2;
    padding: 0;
}

.top-banner {
    margin-top: 40px;
}
.mt-120{
 padding: 60px 0px 30px 75px;
}


.professional_builder .builder_all .builder i {
   
    color: #9eccfd !important;
  
}

.pb-90{
padding-bottom: 90px;

}

.our_footer_area{
  background: #244276;
  padding:70px 0px;

}
.footer-logo{
    max-width: 100%;
    text-align: left;
    height: 100px;
}
.footer-desc p{
    font-size: 18px;
    color: #fff;
    line-height: 30px;
    margin-top: 70px;
}
.footer-top{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
     margin: 20px 0px;
     text-transform: uppercase;
}
.mt-20{
margin-top: 20px;
}
.footer-menu{
  padding:0px;
  margin:0px;
}
.footer-left-h{
    font-size: 20px;
    color: #fff;
    line-height: 30px;
   
}

.footer-menu li{
    font-size: 18px;
    list-style-type: none;
    line-height: 40px;
    color: #fff;
}
.location li {
    font-size: 20px;
    list-style-type: none;
    line-height: 30px;
    color: #fff;
    margin-bottom: 25px;
}
.location_map li {
    font-size: 20px;
    list-style-type: none;
    line-height: 35px;
    color: #3b4a6b;
    margin-bottom: 25px;
}
.location_map{

  margin:0px;
}
.location li i {
    margin-right:10px;
}
.location_map li i {
    margin-right:10px;
}
.location_map li a {
    margin-right:10px;
    color:#3b4a6b !important;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
    
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
     color: #223464;
    
        width:30px;
    text-align: center;

 }
 .maps{
  margin-bottom:0px;
 }
#contatti a{
  color: #fff;
  text-decoration: none;
}


 .hero__player{
  height: 450px !important;
 }
iframe{
    width: 100%;
    height:550px;
  }
@media (max-width: 575.98px) {

  
  #contatti .maps iframe{
    width: 100%;
    height: 550px;
  }
 }


@media (min-width: 576px) {

 

   #contatti .maps iframe{
     width: 100%;
     height: 450px;
   }
 }

@media (min-width: 768px) {

 

  #contatti .maps iframe{
    width: 100%;
    height: 850px;
  }
}

@media (min-width: 992px) {

  .call-to-action img{
    width:1350px;
    
  }
   #contatti .maps iframe{
     width: 100%;
     height: 700px;
   }
}


.comment-wrap {
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #0c487b;
    padding: 30px 20px;
}
.comment-theme{
  float:left;
}
.comment-main-area{
  margin-left:115px;
}
.comment-wrap1 {
    margin-left: 20px;
}
.comment-wrap2{
    margin-left:40px;
}
.sewl-comments-meta h4{
  margin-top: 2.2em;
  text-transform:capitalize;
  font-weight:500;
  font-size: 20px;
}
.comment-area p{
    margin-bottom: 5px;
    color: #000c17;
}

.sewl-comments-meta h4 span {
    font-weight: 400;
    font-size: 13px;
    display: inline-block;
    margin-left: 15px;
    font-style: normal;
}

.comment-image img {
    border-radius: 50%;
    height: 100px;
}




.sewl-form-inputs textarea,.sewl-form-inputs input{
  height:38px;
  width:100%;
      font-size: 16px;
  padding-left:20px;
  margin-bottom:25px;
      border: 1px solid #98a4b2;
   color:#98a4b2; 
    border-radius: 5px;
}
.sewl-form-inputs textarea:focus,.sewl-form-inputs input:focus{
  outline:none;
}
.sewl-form-inputs textarea{
  height:150px;
  padding-top:10px;
  margin-bottom: 40px;
  margin-top: 25px;
}
.mt-30{
  margin-bottom:10px;
}
.mr-15{
  margin-left: 15px;
}
.mb_20{
  margin-bottom: 20px;
}

.form-submit  input:hover{
  background:#0552b1;
  border-color:#0552b1;
}
.sewl-form-inputs {

}


.pb-50{
  padding-bottom: 50px;
}
.form-c{
    display: block;
    height: 6rem;
    padding: 1.5rem 2.4rem;
    border: 0;
    outline: none;
    color: #151515;
    font-size: 1.5rem;
    line-height: 3rem;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.12);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/*close*/
/*--------------------------------------------------*/

/*
    Multicoloured Hover Variations
*/
 
 
.bigpixi-footer-social .social{
  color: #fff;
 
}
/*End Edit-css*/
/*--------------------------------------------------*/


/*------------------18. blog-area start --------------------*/

.blog-img{
    overflow: hidden;
    box-shadow: 0px 10px 30px #cccccc73;
    position: relative;
    border-radius: 10px;
}
.blog-img:before,.blog-img:after{
  position:absolute;
  top:0;
  width:0;
  height:100%;
  background:#000;
  content:"";
  transition:all .5s;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  opacity:.5;
}
.blog-img:before{
  left:0;
}
.blog-wrap:hover .blog-img:before{
  width:50%;
}
.blog-img:after{
  right:0;
}
.blog-wrap:hover .blog-img:after{
  width:50%;
}
.blog-meta{
  margin-bottom:10px;
}
.blog-meta ul li{
  display:inline-block;
  margin-right:10px;
}
.blog-meta ul li a{
  color:#223464 !important;
}
.blog-meta ul li a:hover{
  color:#296dc1;
}
.blog-meta ul li a i{
  margin-right:3px;
}
.blog-content{
  position:relative;
  padding:20px 20px 30px;
 
}

.blog-wrap:hover .blog-content:before,.blog-wrap:hover .blog-content:after{
  width:50%;
}
.blog-content:after{
  left:auto;
  right:0;
}
.blog-content h3{
  margin-bottom:15px;
}
.blog-content h3 a{
  font-size:20px;
  text-transform:capitalize;
  color:#223464 !important; 
}
.blog-content p{
  margin-bottom:20px;
  line-height:24px;
  color:#5d648e;
}
.blog-content a.btn-style{
  border:1px solid #296dc1;
}

.blog-img img {
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.blog-body {

    box-shadow: 0px 4px 30px #dadadaad;
    padding-bottom: 25px;
}
/*------------------18. blog-area end --------------------*/
/*--------------------pagination-wrap start--------------*/
.pricing-page-area{
  padding-top:220px;
}
.pagination-wrap ul{
    margin-top:70px;
    display: flex;
    justify-content: center;
}
.pagination-wrap ul li a{
    height: 45px;
    width: 45px;
    line-height: 45px;
    display: block;
    border: 1px solid #296dc1;
    text-align: center;
    margin-left: -1px;
    color:#333 !important;
    font-size: 18px;
}
.pagination-wrap ul li a:hover,.pagination-wrap ul li.active a{
    background: #296dc1;
    color: #fff !important;
}
.blog-img img{
    width: 100%;
}
.btn_font_16{
  font-size: 16px;
  text-transform:capitalize;
  padding: 12px 25px;
  color: #7777cd !important;
    font-weight: 700;
}



.team-content{
    padding: 20px;
    text-align: center;
}

.team-content h3 {
  font-size: 20px;
  color: #223464;
  font-weight: 500;
  margin:15px 0px;
}
.team-content p {
  margin:15px 0px;
  font-size: 20px;
  color: #9aa7bf;
  font-weight: 400;
}

.bg_gradient_service{
    background: #f0f0ffc4 !important;
    background-image: linear-gradient(to right bottom,#f0f0ff,#f0f0ffab,#fff,#fff,#fff)!important;
}
.PT-90{
  padding-top: 90PX;
}
.mb_160{
    margin-bottom: 160px;
}
/*--------------------pagination-wrap end--------------*/





/*============================================
            19.blog-details-area start
=============================================*/
.blog-details-img{
    margin-bottom: 40px;
}
.blog-details-content h3{
    margin-bottom: 20px;
}
.blog-details-content p{
    margin-bottom: 25px;
}
.blog-details-content blockquote{
    font-size: 16px;
    font-style: italic;
        background: rgb(39, 40, 156);
    padding: 30px;
    border-left: 5px solid rgb(186, 85, 187);
    margin:35px 0px;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.blog-details-content ul{
    margin-bottom: 30px;
}
.blog-details-content ul li{
    line-height: 30px;
    padding-left: 20px;
    position: relative;
}
.blog-details-content ul li::before,.blog-details-content ul li::after{
    position: absolute;
    left: 0;
    top: 50%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #2e7ffe;
    content: "";
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    z-index: 99;
}
.blog-details-content ul li::after{
    height: 10px;
    width: 10px;
    background: #2e7ffe;
    z-index: 9;
    left: -2px;
}
ol{
  list-style:none;
}
.comment-wrap {
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #f1f1f1;
    padding: 30px 20px;
}
.comment-theme{
  float:left;
}

.comment-wrap1 {
    margin-left: 20px;
}
.comment-wrap2{
    margin-left:40px;
}
.sewl-comments-meta h4{
  text-transform:capitalize;
  font-weight:500;
  margin-top: 0px;
}
.sewl-comments-meta h4 span {
    font-weight: 400;
    font-size: 13px;
    display: inline-block;
    margin-left: 15px;
    font-style: italic;
}
.comment-main{
  margin-bottom:50px;
}
.comment-image img {
    border-radius: 50%;
}
.comment-area p{
    margin-bottom: 5px;
}
.comments-reply a.comment-reply-link{
    font-style: italic;
}
h3.blog-title {
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 5px;
}


.sewl-form-inputs textarea,.sewl-form-inputs input{
  height:50px;
  width:100%;
  border:1px solid #f1f1f1;
  padding-left:20px;
  margin-bottom:20px;
}
.sewl-form-inputs textarea:focus,.sewl-form-inputs input:focus{
  outline:1px solid #296dc1;
}
.sewl-form-inputs textarea{
  height:150px;
  padding-top:10px;
}
.form-submit  input{
  text-transform:uppercase;
  background:#296dc1;
  color:#fff;
  width: auto;
  padding: 10px 25px;
}
.form-submit  input:hover{
  background:#0552b1;
  border-color:#0552b1;
}
/*----------------commingsoon-area start------------------*/
.comming-soon-area {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.comming-soon-wrap h3{
  font-size: 30px;
  margin-bottom: 20px;
}
.comming-soon-wrap p{
  font-size: 16px;
  margin-bottom: 30px;
}
.timer span.cdown {
    display: block;
    float: left;
    width: 24%;
    text-align: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    background: #296dc1;
    justify-content: center;
    color: #fff;
  transform: skewX(25deg);
  -webkit-transform: skewX(25deg);
    -moz-transform: skewX(25deg);
    margin-left: 10px;
}
.timer span.cdown:first-child{
  margin-left: 0px;
}
.timer span.time-count {
    font-size: 40px;
  margin: 0px auto;
    margin-bottom: 10px;
    display: block;
  transform: skewX(-25deg);
  -webkit-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
  padding-bottom: 10px;
  width: 100px;
  position: relative;
}
.timer span.time-count::before,.timer span.time-count::after{
  position: absolute;
  left: 25px;
  bottom: 0;
  width: 20px;
  height: 1px;
  background: #fff;
  content: "";
}
.timer span.time-count::after{
  left: 30px;
  bottom: -2px;
}
.timer span.cdown p{
  color: #fff;
  transform: skewX(-25deg);
  -webkit-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
  font-size: 18px;
}
.search-sidebar input {
    width: 100%;
    height: 45px;
    background: transparent;
    border: 1px solid #c0dbfd;
    padding-left: 10px;
}
.search-sidebar button {
    position: absolute;
    right: 0;
    width: 45px;
    height: 45px;
    top: 0;
    color: #fff;
    background: #296dc1;
    border: 1px solid #296dc1;
}

/*----------------contact-area start------------------*/

.contact-wrap textarea{
  height: 200px;
}
.contact-wrap button{
  border: 1px solid #999;
  padding: 10px 30px;
}
.contact-wrap ul li{
  padding: 30px 30px;
  background: #296dc1;
  color: #fff;
  position: relative;
  padding-left: 90px;
}
.contact-wrap ul li:nth-child(odd){
  background:#0552b1;
}
.contact-wrap ul li p{
  color: #fff;
}
.contact-wrap ul li i{
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  font-size: 35px;
}
.contact-wrap h3{
  text-transform: uppercase;
  margin-bottom: 30px;
}
#googleMap{
  height: 500px;
  width: 100%;
  background: #296dc1;
  margin-top: 100px;
}

/*----------------contact-area End------------------*/




/*-----------------------20.sidebar-style-here-----------------------*/
.search-sidebar form{
    position: relative;
}
.search-sidebar input{
    width: 100%;
    height: 45px;
    background: transparent;
    border: 1px solid #c0dbfd;
    padding-left: 10px;
}
.search-sidebar button{
    position: absolute;
    right: 0;
    width: 45px;
    height: 45px;
    top: 0;
    color: #fff;
    background: #2e7ffe;
    border: 1px solid #2e7ffe;
}
.search-sidebar button:hover{
    background: #0552b1;
    border-color: #0552b1;
}
.sidebar-title{
    position: relative;
    font-size: 22px;
    text-transform: capitalize;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.category-wrap ul li{
    line-height: 35px;
    border-bottom: 1px solid #f1f1f1;
}
.category-wrap ul li:last-child{
    border-bottom: none;
}
.category-wrap ul li a{
    padding-left: 20px;
    position: relative;
    display: block;
    color:#555 !important;
}
.category-wrap ul li a::before{
    position: absolute;
    left: 0;
    content: "\f101";
    font-family: fontawesome;
    color: #296dc1;
    font-size: 16px;
    top: 0;
}
.related-post ul li{
    overflow: hidden;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.related-post ul li:last-child{
    border-bottom: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.post-img{
    float: left;
}
.post-info{
    margin-left: 95px;
}
.post-info a {
    font-size: 15px;
    margin-bottom: 10px;
    display: block;
    line-height: 20px;
    color:#555 !important;
}
.post-info p{
    line-height: 20px;
    font-size: 12px;
    color: #296dc1;
}
.archive-wrap ul li{
    line-height: 35px;
}
.archive-wrap ul li a{
    display: block;
    color: #555!important;
}
.tags-wrap ul li{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
.tags-wrap ul li a{
    display: block;
    padding: 8px 20px;
    border: 1px solid #e1e1e1;
      color: #555!important;

}
.tags-wrap ul li a:hover{
    background: #296dc1;
    color: #fff !important;
}
/*-----------------------20.sidebar-style-here-----------------------*/


/*------------------------------------
21.Start tabs service

------------------------------------*/


div.bhoechie-tab-container{
  z-index: 10;

}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active {
  background-color:#e7e5fa !important;
 text-decoration: none !important;

}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .left-tabs-text{
  color: #3669f1 !important;
}
.left-tabs-text{
  box-shadow: none !important;
}

.list-group-item{
  border:none !important;
  background: transparent;
}
a.list-group-item:hover{
  
  background: transparent !important;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
.img-text {
    font-size: 25px;
    color: #3669f1;
    margin-bottom: 30px;
}
.bottom-text {
    font-size: 22px;
    color: #5d648e;
    line-height: 35px;
    margin-bottom: 35px;
}

.padding-2{
    padding: 20px;
       background: #e7e5fa;
    box-shadow: 0px 1px 10px #cccccc8c;
}
.left-tabs-text{
font-size: 25px;
    color: #5d648e;
    margin: 15px;
  
}
.fitter{
 padding-right: 20px;
}
/*------------------------------------
21.End tabs service

------------------------------------*/




/*------------------------------------
21.Responsive
(mxn-width: 1024px)  media query
------------------------------------*/

@media (max-width: 1024px) {
 .video-a {
    position: absolute;
    right: 30px;
    top: 200px;
}
}

/*------------------------------------
21.Responsive
(min-width: 768px)  media query
------------------------------------*/
@media (min-width: 768px) {
  .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu .other_dropdwn {
    margin-right: -122px;
  }
.header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul {
  border: none;
  box-shadow: none;
  border-radius: 0px;
  min-width: 190px;
  transition: all 500ms ease-in-out;
  background: #f6b60b;
}
}

@media (min-width: 768px) {
  .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul {
    margin-right: -150px;
    display: block;
    transform: rotateX(-90deg);
    transform-origin: top;
  }
}


/*------------------------------------
21.Responsive
(min-width: 1023px) and (max-width: 1100px)  media query
------------------------------------*/
@media (min-width: 1023px) and (max-width: 1100px) {
.shap_top{
    font-size:25px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 30px;
}
.all-text {
    padding: 108px 50px;
}
.shap_bottom{
    font-size:16px;
    line-height: 30px;
    color: #fff;
}
.about-bottom-s {
    font-size: 19px;

}
}
  
  /*------------------------------------
22.Responsive
(max-width: 767px) media query
------------------------------------*/
@media (max-width: 767px) {
  
section {
    padding: 30px 0px !important;
}
.py-40{
  padding:0px;
}
section.bg-banner-img {
    padding-bottom: 100px !important;
}
.row{
 margin:0px; 
}
.bg_blue_img{
  background-image: none; 
}
.row.book_now {
    margin-bottom: 20px;
}
.btn {
    padding: 18px 30px;
    }
.Solid-Law {
    text-align: center;
    padding:20px 10px;
}
.left-tabs-text {
    font-size: 20px;
    }

.title.wow.fadeInUp {
    padding: 0px 15px;
}
h2.footer-top{
  margin-top: 30px;
}
ul.location{
  margin-top: 40px;
}
.bg_blue_img{
  background-image: none !important;
}
.box-radius{height: auto;}
.col-md-8.text-right.Attorneys{text-align: left;}
.blog-body{margin-bottom: 15px;}
.bottom_service{position: relative;top: 0px;}
.mt_560{margin-top:0px;}
.who_we_area.col-md-6.col-sm-6.col-4pad.wow.fadeInUp{margin-top: 20px;}
.service-s{margin-bottom: 15px;}
.header_aera{
  padding: 30px 0px !important}
.button-banner {
    padding: 18px 30px !important;}
    .title h2{
      padding-top: 0px !important;
    }
.top-banner .button-banner{
      font-size: 12px !important;
    }



    p.about_bottom_h.mt-50 {
    padding: 0px 10px;
}
.m-s{
  padding:0px !important;
}
button.navbar-toggle {
   background: #ffffff;
    border-color: #ffffff !important;
    color: #fff !important;
}
ol {
    list-style: none;
    padding: 0;
}
.comment-main-area{
  margin-left: 0px;
}
.col-xs-6.pr-0{
  width: 100%;
  padding-right: 15px !important;
}
.pr-0{padding-right: 15px !important;}

.pt-100 {
    padding-top:30px !important;
}
.timeline-badge{display: none;}
.contact-map{
  float: none;
}
.button-left {
    padding: 18px 30px !important;}
.main-h {
    font-size: 35px;
    line-height: 40px;
    text-align: center;
  }
  .col-md-5.col-sm-6.col-4pad.wow.fadeInUp{
    margin-bottom: 20px;
  }
  .pl_50{
    padding-left: 0px !important;
  }
  .who_we_area.col-md-7.p0.text-right.col-sm-6.col-4pad.wow.fadeInUp{
    margin: 20px;
  }
  .py-70{
    padding:30px;
  }
  .title h1 {
    font-size: 30px !important;
  }
  .title-left h1 {
    font-size: 30px;
    margin-top: 10px;
  }
  img.posi-r-img{
    bottom: 0;
  }
  .video-a {
    position: absolute;
    right: 20px !important;
    bottom: 10PX !important;
        top: auto !important;
}
.search-sidebar form{
  margin-top: 15px;
}
  .top-banner.wow.fadeInRight.text-right{
    text-align: center;
  }
  .top-banner.wow.fadeInRight.text-left {
    text-align: center;
}
  .navbar-toggle {
    top: 15px;
  }

  .header_aera .navbar-header {
    height: 80px;
  }
  .header_aera .navbar-header .navbar-brand {
    padding-top: 25px !important;
    padding-left: 15px !important;
  }

  .header_aera .navbar-collapse .navbar-nav.navbar-right li a {
    line-height: 45px;

  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        background: #000 !important;
  }
  .header_aera .navbar-collapse .navbar-nav.navbar-right li a:hover, .header_aera .navbar-collapse .navbar-nav.navbar-right li a:focus {

  background-color:#464646 !important;
}

  .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul {
    padding-left: 30px;
    background-color: transparent;
  }

  

  .slider_inner.camera_wrap {
    height: 500px !important;
  }

  

}

  /*------------------------------------
23.Responsive
(max-width: 480px) media query
------------------------------------*/
@media (max-width: 480px) {
  .bg-about-img{
    background-image: none;
  }
  .right_icone li{
    text-align: center; 
    background-image: none !important;
    padding-left: 0px;
  }
  .left-tabs-text {
    font-size: 16px;
}
.px_40{
  padding: 0px; 
}
  .my_20{
    display: block;
    margin: 20px 0px;
    text-align: center;
  }
  .text-left {text-align: center !important;}
  .owl-stage-outer{text-align: center;}
  .py-70{
    padding: 5px;
  }
  .all-text{
    padding: 0px;
  }
  .owl-nav{
    display: none !important;
  }
  .owl-dots {
    display:block !important;
}
  .back-shap{
    margin-top: 10px;
    top: 0;
    padding: 70px 0px;
    background-size: contain;
}
.shap_bottom {
    font-size: 15px;
    line-height: 23px;
    color: #fff;
    padding-left:30px;
  
}
.about-right h1 {
    font-size:30px;
    padding-top:10px;
    }
    .about_top-400 {
    margin-top: 30px;
}

.banner-text {
    text-align: center;
    line-height: 30px;
}


.clip-polygon{
  clip-path:none !important;
  -webkit-clip-path:none !important;
}
.clip-right{
  clip-path:none !important;
  -webkit-clip-path:none !important;
      background: url(../images/s-left.html)center top no-repeat;
      margin-top: 15px;
}
.p-0 {
    padding: 15px !important;
}
.testimonial_area .testimonial_carosel .item .media {
    max-width: 300px !important;
    }

    .testimonial_area .testimonial_carosel .item .media .media-left{padding: 0px;}
.services-right{
  padding: 0px !important;
}
.shap_top  {
    padding-left: 15px;
    font-size: 22px;
    font-weight: 600;
    padding-left:30px;
    color: #fff;
    padding-bottom: 5px;
    margin-bottom: 4px;
}
.left-tabs-text-2{font-size: 18px;}
.row.text-left.box-s{padding: 15px;}
.title-left.wow.fadeInUp{
  padding:15px;
}
.row.about_row.px_40{
  padding:0px;
}
img.posi-r-img{
  margin-top: 15px;
}
.row.about_row.py-40{
  margin-top: 0px;
}

  }

@media (max-width: 1024px) {
 .button-left {
    padding: 18px 35px;
  }

  .radius-50 {
    padding:12px 18px !important;
  }
  .title h1 {
    font-size: 30px;
  }
  .bg_blue_img {
    background-color: #223464 !important;
    background: url(../images/bg_video-c.jpg) right top no-repeat;
}
}

@media (min-width: 767px) {
 .navbar-brand {
  
    padding: 25px 0px !important;
}


}
/*------------------------------------
24.Responsive End
(max-width: 480px) media query
------------------------------------*/






.webform-confirmation {
  text-align: center;
}

.webform-confirmation__message{
  font-size: 25px;
  font-weight: 700;
}
section.region{
  padding:0 !important;
}
.node__content{
  margin-top: 0;
}
#about .about_row{
  margin-top: 0 !important;
}
h1.text-center {
  font-size: 35px;
  font-weight: 400;
  color: #364167;
  line-height: 30px;
  text-transform: capitalize;
}
.title h2{
  font-size: 35px;
  font-weight: 400;
  color: #364167;
  line-height: 30px;
  text-transform: capitalize;
}
.testimonial_carosel{
  margin:80px 0 0;
}
.testimonial_carosel .img-s img{
  width:140px;
  height: auto;
}
.nav-tabs>li>a{
  color:#000 !important;
}
.navbar-brand {
  font-size: 28px;
  font-weight: 700;
}