
{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}
  <div class="service-banner-img" style="background-image: url({{ fields.field_image.content }});">
     <div class="ovrllay">
        <!-- #banner start -->
        <section id="banner" class="p0 custom-banner" >
           <div class="container ">
              <div class="row ">
                 <!-- #banner-text start -->            
                 <div id="banner-text" class="col-md-12 text-c  ">
                    <div class="left-borders">
                       <p class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;"> 
                       {{ fields.body.content|striptags }}
                       </p>
                       <h5 class="wow fadeInUp main-h" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                       {{ fields.title.content }} 
                        </h5>
                    </div>
                 </div>
                 <!-- /#banner-text End -->
              </div>
           </div>
        </section>
       <!-- /#banner end --> 
   </div>
</div>  
