
{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}

<div class="masonry__brick aos-init aos-animate" data-aos="fade-up">
  <div class="item-folio">
     <div class="item-folio__thumb">
        <a href="{{ fields.field_image.content }}" class="thumb-link" title="Lamp" data-size="1050x700">
        <img src="{{ fields.field_image.content }}" srcset="{{ fields.field_image.content }} 1x, {{ fields.field_image.content }} 2x" alt="{{ fields.title.content }}">
        </a>
     </div>
     <div class="item-folio__text">
        <p class="item-folio__cat">
           {{ fields.title.content }}
        </p>
     </div>
     <div class="item-folio__caption">
        {{ fields.body.content|striptags }}
     </div>
  </div>
</div>

<!-- 
  <div class="masonry__brick aos-init aos-animate" data-aos="fade-up" style="position: absolute; left: 0px; top: 0px;">
      <div class="item-folio">
         <div class="item-folio__thumb">
            <a href="{{ field_image }}" class="thumb-link" title="Lamp" data-size="1050x700">
            <img src="{{ field_image }}" srcset="{{ field_image }} 1x, {{ field_image }} 2x" alt="" class="img-responsive">
            </a>
         </div>
         <div class="item-folio__text">
            <p class="item-folio__cat">
               {{ title }}
            </p>
         </div>
         <div class="item-folio__caption">
            <p>{{ body }}</p>
         </div>
      </div>
   </div> -->