{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<section class="blog-area ptb-140 bg-1">
   <div class="container">
      <div class="row">
       {% for row in rows %}
            {{ row }}
        {% endfor %}
	        <div class="col-xs-12">
	          <div class="pagination-wrap mt-50 wow fadeInUp">
	          	<ul>
	          		{% if pager %}
				    	{{ pager }}
				  	{% endif %}
	          	</ul>
	          </div>
	       </div>
      </div>
   </div>
</section>  