{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<section class="">
   <div class="container">
      <div class="row text-center  ">
         <div class="title wow fadeInUp">
            <p> {{ header }}</p>
         <h1>{{ view.getTitle() }}</h1>
         </div>
      </div>
      <div class="row about_row ">
        {% for row in rows %}
            {{ row }}
        {% endfor %}
      </div>
   </div>
</section>        