{% for item in items %}  
	{% if loop.first %}
     	<img src="{{ file_url(item.content['#item'].entity.uri.value) }}" class="border_img">
    {% else %} 
	    <div class="mt_40">
	       <img src="{{ file_url(item.content['#item'].entity.uri.value) }}" class="border_img">
	    </div>
    {% endif %}
{% endfor %}
