<!-- Header_Area -->
<nav class="navbar navbar-default header_aera affix-top">
   <div class="container m-s">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="col-md-4 p0">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#min_navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo-biss" href="{{ path('<front>') }}">
             {{page.logo}}
            </a>
         </div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="col-md-8 p0">
         {{ page.primary_menu }}
         <!-- /.navbar-collapse -->
      </div>
   </div>
   <!-- /.container -->
</nav>
<!-- End Header_Area -->
{{ page.content }}
<!--#start Our footer Area -->
<div class="our_footer_area">
   <div class="book_now_aera ">
      <div class="container wow fadeInUp">
         <div class="row book_now">
            <div class="col-md-4">
               <div class="">
                  <a class=" logo-biss" href="{{ path('<front>') }}">  {{page.logo}}</a>
               </div>
               <div class="footer-desc">
                  {% if footer_description %}
                     {% autoescape 'html' %}
                        {{ footer_description|raw }}
                     {% endautoescape %}
                  {% endif %}
               </div>   
            </div>
            <div class="col-md-1 ">
            </div>
            <div class="col-md-3">
               {{ page.footer_menu }}
            </div>
            <div class="col-md-4">
               <ul class="location">
                  <h2 class="footer-top">
                     {% if contact_title|render is not empty %} {{ contact_title }}{% endif %} 
                  </h2>
                  <li class="footer-left-h">
                     {% if address1|render is not empty %} {{ address1 }}{% endif %}
                  </li>
                  <li class="footer-left-h">
                     <a href="#"> 
                     {% if address2|render is not empty %} {{ address2 }}{% endif %}
                      </a>
                  </li>
               </ul>
               <div class="bigpixi-footer-social">
                  {% if facebook_url|render is not empty %}
                    <a href="{{ facebook_url }}" target="_blank" ><i id="social-fb" class="fa fa-facebook fa-2x social"></i></a>
                  {% endif %}
                  {% if twitter_url|render is not empty %}
                    <a href="{{ twitter_url }}" target="_blank"><i id="social-tw" class="fa fa-twitter fa-2x social"></i></a>
                  {% endif %}
                  {% if instagram_url|render is not empty %}
                    <a href="{{ instagram_url }}" target="_blank"><i id="social-em" class="fa fa-instagram fa-2x social"></i></a>
                  {% endif %}  
               </div>
            </div>
            <div class="col-md-12 copyright">
                {% if copyright %}
                  {{copyright|striptags('<b>,<strong>,<p>,<a>,<pre>')|raw}}
                {% endif %}  
            </div>
         </div>
      </div>
   </div>
</div>
<!--#End Our footer Area -->
<!-- photoswipe background
   ================================================== -->
<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
   <div class="pswp__bg"></div>
   <div class="pswp__scroll-wrap">
      <div class="pswp__container">
         <div class="pswp__item"></div>
         <div class="pswp__item"></div>
         <div class="pswp__item"></div>
      </div>
      <div class="pswp__ui pswp__ui--hidden">
         <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
               "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
               "Zoom in/out"></button>
            <div class="pswp__preloader">
               <div class="pswp__preloader__icn">
                  <div class="pswp__preloader__cut">
                     <div class="pswp__preloader__donut"></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
         </div>
         <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
            "Next (arrow right)"></button>
         <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
         </div>
      </div>
   </div>
</div>
<!-- end photoSwipe background -->
