  <!-- Header_Area -->
  <nav class="navbar navbar-default header_aera affix-top">
     <div class="container m-s">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="col-md-4 p0">
           <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#min_navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand logo-biss" href="{{ path('<front>') }}">
               {{page.logo}}
              </a>
           </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="col-md-8 p0">
           {{ page.primary_menu }}
           <!-- /.navbar-collapse -->
        </div>
     </div>
  </nav>
  <!-- Header End -->

<!-- Banner -->
{% set banner = page.banner|render|striptags|trim is not empty %}
{% if banner %}
  {{ page.banner }}
  {% else %}
  <div class="about-banner-img about-us-banner">
    <div class="ovrllay_abouts">
      <section id="banner" class="p0 custom-banner" >
         <div class="container ">
            <div class="row ">
               <!-- #banner-text start -->            
               <div id="banner-text" class="col-md-12 text-c  ">
                  <div class="left-borders">
                     <p class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;"> Welcome to the 
                     {{ site_name }}
                     </p>
                     <h5 class="wow fadeInUp main-h" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">{{ page['#title'] }}</h5>
                  </div>
               </div>
               <!-- /#banner-text End -->
            </div>
         </div>
      </section>
   </div>
</div>
{% endif %}
<!-- Banner End -->
{{ page.content }}
<!--#start Our footer Area -->
<div class="our_footer_area">
   <div class="book_now_aera ">
      <div class="container wow fadeInUp">
         <div class="row book_now">
            <div class="col-md-4">
               <div class="mt-20">
                  <a class=" logo-biss" href="{{ path('<front>') }}">  {{page.logo}} </a>
               </div>
               <div class="footer-desc">
                  {% if footer_description %}
                     {% autoescape 'html' %}
                        {{ footer_description|raw }}
                     {% endautoescape %}
                  {% endif %}
               </div>   
            </div>
            <div class="col-md-1 ">
            </div>
            <div class="col-md-3">
               {{ page.footer_menu }}
            </div>
            <div class="col-md-4">
               <ul class="location">
                  <h2 class="footer-top">
                     {% if contact_title|render is not empty %} {{ contact_title }}{% endif %} 
                  </h2>
                  <li class="footer-left-h">
                     {% if address1|render is not empty %} {{ address1 }}{% endif %}
                  </li>
                  <li class="footer-left-h">
                     <a href="#"> 
                     {% if address2|render is not empty %} {{ address2 }}{% endif %}
                      </a>
                  </li>
               </ul>
               <div class="bigpixi-footer-social">
                  {% if facebook_url|render is not empty %}
                    <a href="{{ facebook_url }}" target="_blank" ><i id="social-fb" class="fa fa-facebook fa-2x social"></i></a>
                  {% endif %}
                  {% if twitter_url|render is not empty %}
                    <a href="{{ twitter_url }}" target="_blank"><i id="social-tw" class="fa fa-twitter fa-2x social"></i></a>
                  {% endif %}
                  {% if instagram_url|render is not empty %}
                    <a href="{{ instagram_url }}" target="_blank"><i id="social-em" class="fa fa-instagram fa-2x social"></i></a>
                  {% endif %}  
               </div>
            </div>
              <div class="col-md-12 copyright">
                 {% if copyright %}
                  {{copyright|striptags('<b>,<strong>,<p>,<a>,<pre>')|raw}}
                {% endif %}  
              </div>
         </div>
      </div>
   </div>
</div>

<!--#End Our footer Area -->
